---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'About Me';

const identity = {
	name: 'Priyanka Datta',
	country: 'India',
	profession: 'Computer Science Student',
	hobbies: ['Gym', 'Cooking', 'Reading'],
};

const skills = ['HTML', 'CSS', 'JavaScript', 'Python', 'React', 'Deep Learning', 'Natural Language Processing'];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = 'darkgreen';


---

<head>
	<style define:vars={{skillColor}}>
		h1 {
			color: rgb(128, 0, 128);
			font-size: 4rem;
		}
		.skill {
			color: var(--skillColor);
			font-weight: bold;
		}
	</style>
	
</head>


<BaseLayout pageTitle = {pageTitle}>
	<ul>
		<li>I'm {identity.name}, a {identity.profession} and machine learning enthusiast.</li>
		<li>I live in {identity.country} and I'm currently learning about deep learning and NLP.</li>
		{identity.hobbies.length >= 2 &&
			<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
		}
	</ul>
	<p>My skills are:</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
	{happy && <p>I'm happy to be here!</p>}
	{finished && <p>I finished this tutorial</p>}
	{goal === 3? <p>My goal is to finish in 3 days.</p>: <p>My goal is not 3 days.</p>}
</BaseLayout>
